header {
    border-bottom: 1px solid black;
}

 header ul {
    display: flex;
    gap: 20 px;

 }

 header  ul li {
    list-style-type: none;
    padding: 7px 10px;
 }
 @font-face {
   font-family: 'meow'; /*a name to be used later*/
   src: url("Fill me with Color - OTF.otf"); /*URL to font*/
}
  body {
background-color: hotpink;
font-family:Arial, Helvetica, sans-serif;
text-align:center;

}
li{
   list-style-type: none;
}

.error_msg{
   color:red;
}